/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
html {
  background: url(image/image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


body {
  background: url(image/image.jpg) no-repeat center center fixed;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 150%;
  color:black;
  }

header {
  
  background: url(image/image.jpg) no-repeat center center fixed;
}

h1 {
  background: url(image/image.jpg) no-repeat center center fixed;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: black;
}

p.description {
  position:relative;
  top: 5%;
  text-align: left;
  font-size: 18px;
  margin: 10%;
}


h2 {
  font-size: 24px;
  color: black;
}

a {
  color:black;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
  color: black;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 220px;
  left: 30px;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}
