.navbar-dark .nav-item.active .nav-link, .navbar-dark .nav-item .nav-link:active, .navbar-dark .nav-item .nav-link:focus, .navbar-dark .nav-item:hover .nav-link {
  color: #00B159;
}

.blockt {
  width: 600px
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f3f7d;
  color: white;
  text-align: center;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  font-size: 20px;
}

h1 {
  margin-left: 80px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 1;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}